/* START - BASIC TYPOGRAPHY */

body {
    font-size: 20px;
    line-height: 1.5em;
}

ul {
    margin-left: 1em;
    padding-left: 0;
}

li {
    padding-left: .6em;
}


/* END - BASIC TYPOGRAPHY */

/* START - BUTTONS */

.btn {
    border-radius: 30px;
    
}

.btn::after {
    content: " \25B7";
}
.secondary {
    border: 3px solid blue;
    fill: none;
    padding: 5% 20%;
    color: blue;
    font-size: 1em;
}


/* END - BUTTONS */


/* START - HEADER */

.header-title-bg {
	background-color: blue;
	grid-column: 1 / span 14;
	width: 100%;
	height: 200px;
	margin-top: 25vh;
}

.header-c2a {
	margin-top: 50vh;
	justify-self: center;
	background-color: rgba(255, 255, 255, 0.7);
	max-height: 210px;
	padding: 10px;
    font-size: .9em;
    text-align: center;
}

.header-title-wrapper {
        grid-column: 2 / span 12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);
        height:200px;  
}

.header-title {
    grid-column: 1 / span 14;
    align-self: center;
    text-align: center;
}
/* END - HEADER */

/* START SPECIALS*/

.specials-bg {
    grid-column: 1 / span 14;
    background-color: blue;
   /* height: 200px; */
}

/* END - SPECIALS*/

/* START - THE BASIC GRID */

.container {
    width: 100%;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 20% repeat(12, 1fr) 20%;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
}

.header-row {
    grid-row: 1;
}

/*.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}*/

.header {
	grid-column-start: 1;
	grid-column-end: span 14;
	grid-row: 1;
	height: 100vh;
	background-color: #fff;
	opacity: 0.2;
	height: 100vh;
	background: linear-gradient( rgba(241, 196, 15, 0.45), rgba(241, 196, 15, 0.45)), url("img/team-386673_1920crop.jpg");
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}




/* START - CONTENT GRID */

.full-width {
    grid-column: 1 / span 14;
}

.content-wrapper {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.col-1 {
    grid-column-end: span 1;
}

.col-2 {
    grid-column-end: span 2;
}

.col-3 {
    grid-column-end: span 3;
}

.col-4 {
    grid-column-end: span 4;
}

.col-5 {
    grid-column-end: span 5;
}

.col-6 {
    grid-column-end: span 6;
}

.col-7 {
    grid-column-end: span 7;
}

.col-8 {
    grid-column-end: span 8;
}

.col-9 {
    grid-column-end: span 9;
}

.col-10 {
    grid-column-end: span 10;
}

.col-11 {
    grid-column-end: span 11;
}

.col-12 {
    grid-column-end: span 12;
}

.start-col-1 {
    grid-column-start: 1;
}

.start-col-2 {
    grid-column-start: 2;
}

.start-col-3 {
    grid-column-start: 3;
}

.start-col-4 {
    grid-column-start: 4;
}

.start-col-5 {
    grid-column-start: 5;
}

.start-col-6 {
    grid-column-start: 6;
}

.start-col-7 {
    grid-column-start: 7;
}

.start-col-8 {
    grid-column-start: 8;
}

.start-col-9 {
    grid-column-start: 9;
}

.start-col-10 {
    grid-column-start: 10;
}

.start-col-11 {
    grid-column-start: 11;
}

.start-col-12 {
    grid-column-start: 12;
}

@media only screen and (max-width: 500px) {}


/* END - CONTENT GRID */