body {
    font-size: 20px;
    line-height: 1.6em;
    margin: 0;
}

/*****GRID******/
/*mobile*/
/*.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
}*/
.content {
    grid-column: 1 / span 1;
    grid-row: 1;
}
.grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 2px repeat(12, 1fr) 2px;
}
/*header Section*/
.header-bg {
    background-color: blue;
    grid-column: 1 / span 1;
    grid-row: 1;
    height: 100vh;
}
.header-text {
    align-self: center;
    text-align: center;
    grid-column: 2 / span 12;
    justify-self: center;
}
.header-c2a {
    font-size: 1.2em;
    grid-column: 2 / span 12;
    align-self: center;
    justify-self: center;
    text-align: center;
    max-width: 15em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -180px;
}

/*Pitch Section*/
.pitch {
    background-color: red;
}

.pitch-content {
    grid-column: 2 / span 12;
}

.services-list {
    grid-column: 2 / span 12;
}

/*specials Section*/
.specials-bg {
    background-color: blue;
}

.specials-text {
    grid-column: 2 / span 12;
    text-align: center;
    padding-top: 10em;  
}

/*Services Section*/

.services-bg {
    background-color: violet;
}

.services-heading {
    grid-column: 2 / span 12;
}

.groups-service {
  /*  grid-column: 2 / span 12; */
}

@media (min-width:768px) {
    .groups-service {
       display: flex;  
    }
}

/*about section*/

about {

}

.about-text {
    grid-column: 2 / span 12;
}

.qualifications {
    grid-column: 2 / span 12;
}
/*
X-small*/

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 2em 1fr 2em;
        grid-gap: 10px;
    }
}
/*small*/
@media (min-width: 768px) {
    .grid {
        grid-template-columns: 2em repeat(12, 1fr) 2em;
        grid-gap: 10px;
    }
    .content {
        grid-column: 2 / span 12;
    }
}
/*medium*/
@media (min-width: 1024px) {
    .wrapper {
        grid-template-columns: 2em repeat(12, minmax(auto, 25em)) 2em;
        grid-gap: 10px;
    }
}
/*large*/
@media (min-width: 1280px) {
    .wrapper {
        grid-template-columns: 10em repeat(12, minmax(auto, 25em)) 10em;
    }
}
/*X-large*/
@media (min-width: 1680px) {
    .wrapper {
        grid-template-columns: 20em repeat(12, minmax(auto, 25em)) 20em;               
        grid-gap: 20px;
    }
}
/*


/********************
********BUTTONS********
*******************/
.btn {
    border-radius: 20px;
    padding: 1.3em 5em;
    border: 3px solid;
}

.btn::after {
    content: " \2234"
}