/*TODO: Change heading sizes for mobile.
/*TODO: jquery hover for services. blur/color img background overlay list. 
// RESET CSS
//typography*/



/* CSS RESET */
body {
    margin: 0;
    padding: 0;
    letter-spacing: .05em;
}

/* TYPOGRAPHY */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    color: #3d3d3d;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    line-height: 1em;
}

h2 {
    font-size: 2em;
}

h1, h2, h3, h4 {
    color: #FFA500;
    text-transform: uppercase;
    letter-spacing: .04em;
}

.about-content, .about-content h2 {
    color: #fcfcfc;
}

.special, .special h2, .special p {
    color: #fcfcfc;
    margin: 10px 0;
}
ul {
    padding: 1em;
}
.flex-box ul {
    padding: 1em;
}

/* Buttons */
.btn {
    padding: 10px 50px;
    border-radius: 30px;
    border: none;
}

.primary {
    transition: all .3s;
    background: #FFA500;
    border: 2px solid #4169E1;
    color: #4169E1;
    font-size: .8em;
    font-weight: bold;
}

.primary:hover {
    transition: all .3s;
    background-color: #4169E1;
    color: #FFA500;
}
.secondary {
    transition: all .3s;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}

.secondary:hover {
    transition: all .3s;
    background-color: #fff;
    color: #4169E1;
}

@media (max-width: 360px) {
    h1 {
        font-size: 2em;
        text-transform: uppercase;
        line-height: 1em;
    }
    
    h2 {
        font-size: 1.7em;
    }
    
    h1, h2, h3, h4 {
        color: #FFA500;
        text-transform: uppercase;
    }
    
}
/*GRID*/
.container-grid {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-row-gap: 3em; 
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-column: 2;
}

.head-grid {
	display: grid;
	grid-column: 2;
	justify-content: center;
	text-align: center;
    height: 100vh;
	/*align-content: center;*/
}

.header-content h1, .header-content h2 {
    color: #fff ;
    text-transform: uppercase;
}
.masthead {
    grid-column: 1 / span 3;
    background-image: url('img/graphicstock-multiethnic-group-of-smiling-young-friends-standing-and-showing-thumbs-up-over-blue-sky-background_SdHnVlqHne.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.about-bg-margin {
    grid-column: 1 / span 1;
    background-color: #4169E1;
    grid-row: 5;
}
.about-bg {
    grid-column: 1;
    background-color: #4169E1;
    grid-row: 1;
    height: auto;
    z-index: -10;
}


.about-content {
    grid-column: 1;
    grid-row: 1;
}

.special {
    grid-column: 1 / span 3;
    grid-row: 3;
    height: 400px;
    align-content: end;
    background-image: url('img/graphicstock-blurred-background-people-shopping-at-market-fair-in-sunny-day-blur-background-with-bokeh_STxcmVy9JW.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5px;
}

@media (min-width: 500px) {
    .container-grid {
        grid-template-columns: auto minmax(300px, 960px) auto;
    }
    .grid {
        grid-template-columns: repeat(12, minmax(20px, 1fr));
        grid-gap: 10px;
        grid-column: 2;
    }
    .heading {
        grid-column: span 7;
        background-color: 
    }
    .paragraph {
        grid-column: span 6;
    }

    .masthead {
        grid-column: 1 / span 3;
    }
    .header-content {
        /*grid-column: 1 / span 12;*/
        margin-top: 40px;
    }
    .home {
        grid-row: 2;
        grid-column: 2 / span 1;
        justify-content: left;
    }
    .home-primary {
        grid-column: 1 / span 7;
    }
    .home-secondary {
        grid-column: 9 / span 4;
    }
    .special {
        grid-row: 3;
        height: 400px;
        grid-column: 1 / span 3;
        align-content: end;
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/graphicstock-blurred-background-people-shopping-at-market-fair-in-sunny-day-blur-background-with-bokeh_STxcmVy9JW.jpg');
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('img/graphicstock-blurred-background-people-shopping-at-market-fair-in-sunny-day-blur-background-with-bokeh_STxcmVy9JW.jpg');
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/graphicstock-blurred-background-people-shopping-at-market-fair-in-sunny-day-blur-background-with-bokeh_STxcmVy9JW.jpg');
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/graphicstock-blurred-background-people-shopping-at-market-fair-in-sunny-day-blur-background-with-bokeh_STxcmVy9JW.jpg');
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/graphicstock-blurred-background-people-shopping-at-market-fair-in-sunny-day-blur-background-with-bokeh_STxcmVy9JW.jpg');
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/graphicstock-blurred-background-people-shopping-at-market-fair-in-sunny-day-blur-background-with-bokeh_STxcmVy9JW.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }  

    .special-content {
        text-align: center;
        grid-column: 1 / span 12;
    }
    .groups {
        grid-row: 4;
        grid-column: 2 / span 1;
    }
    .about {
        grid-row: 5;
        grid-column: 2 / span 1;
    }
    .about-bg-margin {
        grid-column: 1;
        background-color: #4169E1;
        grid-row: 5;
    }
    .about-bg {
        grid-column: 1 / span 8;
        background-color: #4169E1;
        grid-row: 1;
        height: auto;
    }
    .about-content {
        grid-column: 2 / span 4;
        grid-row: 1;
    }
    .flex-container {
        grid-column: 1 / span 12;
    }
}

@media (min-width: 960px) {
    .container-grid {
        grid-template-columns: auto 960px auto;
    }
}


 @media (min-width: 500px) and (max-width: 850px ) {
    .about-bg {
        grid-column: 1 / span 11;
    }
} 


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.flex-box {
	position: relative;
	flex-grow: 1;
	min-width: 280px;
	max-width: 300px;
	background-color: #fcfcfc;
	margin: 10px;
	padding: 0 10px;
	height: 300px;
}

.flex-box-title {
	position: absolute;
	bottom: 0px;
	background-color: blue;
	width: 90%;
	margin: 0;
	padding: 0 5%;
	left: 0px;
}
.flex-box-title h4 {
    margin: 0;
}
.flex-box-cont {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5% 7%;
    width: 86%;
    height: 90%;
    display: none;
    align-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.8)), to(rgba(55, 55, 55, 0.8)));
    background-image: -webkit-linear-gradient(top, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8));
    background-image: -moz-linear-gradient(top, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8));
    background-image: linear-gradient(to bottom, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8));
}

.flex-box-cont h4{
    margin-bottom: 0;
}


.flex-box-cont ul {
    margin: 0;
    color: #fff;
    padding-left: 1em;
    
}

.highlight {
    color: red !important;
    border: solid 3px;
    border-color: yellow;
}

.bg {
    display: block;
}

.sport-clubs-bg {
	background-image: url('img/sportclubs.jpg');
	background-size: cover;
}

.learning-centers-bg {
	background-image: url('img/learningcenters.jpg');
	background-size: cover;
}

.church-groups-bg {
	background-image: url('img/churchgroups.jpg');
	background-size: cover;
}
.community-events-bg {
	background-image: url('img/communityevents.jpg');
	background-size: cover;
}
.community-hubs-bg {
	background-image: url('img/communityhubs.jpg');
	background-size: cover;
}
.enviro-groups-bg {
	background-image: url('img/envirogroups.jpg');
	background-size: cover;
}
#group-hover {
    background-image: url('img/communityhubs.jpg');
    background-size: cover;
}
.service-img {
    width: 250px;
}

.header-c2a {
    background-color: rgba(65,105,225, 0.9);
    margin: 10px;
    padding: 10px;
    width: 275px;
    justify-self: center;
    align-self: center;
    color: #FCFCFC;
}


