/*TODO: Change heading sizes for mobile.
/*TODO: jquery hover for services. blur/color img background overlay list. 
// RESET CSS
//typography*/



/* CSS RESET */
body {
    margin: 0;
    padding: 0;
    letter-spacing: .05em;
}

/* TYPOGRAPHY */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    color: #3d3d3d;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    line-height: 1em;
}

h2 {
    font-size: 2em;
}

h1, h2, h3, h4 {
    color: #FFA500;
    text-transform: uppercase;
    letter-spacing: .04em;
}

.about-content, .about-content h2 {
    color: #fcfcfc;
}

.special, .special h2, .special p {
	color: #fcfcfc;
	margin: 10px 0;
	padding-bottom: 10px;
}
ul {
    padding: 0 1em;
}
.flex-box ul {
    padding: 1em;
}

/* Buttons */
.btn {
    padding: 10px 50px;
    border-radius: 30px;
    border: none;
}

.primary {
    transition: all .3s;
    background: #FFA500;
    border: 2px solid #4169E1;
    color: #4169E1;
    font-size: .8em;
    font-weight: bold;
}

.primary:hover {
    transition: all .3s;
    background-color: #4169E1;
    color: #FFA500;
}
.secondary {
    transition: all .3s;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}

.secondary:hover {
    transition: all .3s;
    background-color: #fff;
    color: #4169E1;
}

@media (max-width: 360px) {
    h1 {
        font-size: 2em;
        text-transform: uppercase;
        line-height: 1em;
    }
    
    h2 {
        font-size: 1.7em;
    }
    
    h1, h2, h3, h4 {
        color: #FFA500;
        text-transform: uppercase;
    }
    
}
/*GRID*/
.container-grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 10px 1fr 10px;
    -ms-grid-columns: 20% 60% 20%;
    grid-row-gap: 3em; 
}

.grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr;
    -ms-grid-columns: 100%;
    grid-gap: 10px;
    grid-column: 2;
    -ms-grid-column: 2;
}

.head-grid {
	display: grid;
	/*display: -ms-grid;*/
	grid-column: 2;
	-ms-grid-column: 1;
    justify-content: center;
	text-align: center;
    height: 100vh;
	/*align-content: center;*/
}

.header-content h1 {
    color: #fff ;
    text-transform: uppercase;
    -ms-grid-column-align: center;        
    
}
.header-content h3 {
    color: #fff ;
    text-transform: none;
}
.masthead {
    grid-column: 1 / span 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    background-image: url('img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.about-bg-margin {
    grid-column: 1 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    background-color: #4169E1;
    grid-row: 5;
    -ms-grid-row: 5;
}
.about-bg {
    grid-column: 1;
    -ms-grid-column: 1;
    background-color: #4169E1;
    grid-row: 1;
    -ms-grid-row: 1;
    height: auto;
    z-index: -10;
}


.about-content {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    -ms-grid-row: 1;
}

.special {
    grid-column: 1 / span 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-row: 3;
    -ms-grid-row: 3;
    height: 400px;
    align-content: end;
    background-image: url('img/marketbanner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5px;
}
.footer {
    grid-column: 1 / span 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-row: 6;
    -ms-grid-row: 6;
    background-color: darkcyan;
    padding-bottom: 200px;
}

.footer-cont {
    grid-column: 2 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-row: 6;
    -ms-grid-row: 6;
    padding-bottom: 10px;
    color: #fcfcfc;
    font-size: .9em;
}

.form-item {
    /* width: 260px; */
    display: block;
    border-bottom: 1px solid;
    margin: 10px;
    padding-bottom: 10px;
}
.footer-contact .label {
    width: 100px;
    float: left;
    text-align: left;
    padding-right: 10px;
}

.footer-contact input {
    display: block;
    font-size: 110%;
    background-color: #fcfcfc;
    border: 1px solid #999;
    padding: 5px;
    /* border-radius: 5px; */
}
.footer-contact input:focus, .footer-contact input:hover {
    border: 1px solid #FFA500;
    background-color: #fff;
    /* border-radius: 5px; */
}
.footer-contact textarea {
    display: block;
    font-size: 110%;
    padding: 5px;        
    background-color: #fcfcfc;
    border: 1px solid #999;
    /* border-radius: 5px; */
}

.submit {
    text-align: right;
}
.submit input {
    display: inline;
    border: 1px solid #fff;
    transition: all .3s;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 30px;
}
.submit input:hover {
    color: #4169E1;
    border: 1px solid #4169E1;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    -ms-grid-row: 3;
}
.flex-box {
	position: relative;
	flex-grow: 1;
	min-width: 280px;
	max-width: 300px;
	background-color: #fcfcfc;
	margin: 10px;
	padding: 0 10px;
	height: 300px;
}

.flex-box-title {
	position: absolute;
	bottom: 0px;
	width: 90%;
	margin: 0;
	padding: 0 5%;
	left: 0px;
}
.flex-box-title h4 {
    margin: 0;
    padding: 10px 0;
}
.flex-box-cont {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5% 7%;
    width: 86%;
    height: 90%;
    display: none;
    align-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.8)), to(rgba(55, 55, 55, 0.8)));
    background-image: -webkit-linear-gradient(top, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8));
    background-image: -moz-linear-gradient(top, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8));
    background-image: linear-gradient(to bottom, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8));
}

.flex-box-cont h4{
    margin-bottom: 0;
}


.flex-box-cont ul {
    margin: 0;
    color: #fff;
    padding-left: 1em;
    
}

.highlight {
    color: red !important;
    border: solid 3px;
    border-color: yellow;
}

.bg {
    display: block;
}

.sport-clubs-bg {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/sportclubs.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('img/sportclubs.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/sportclubs.jpg');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/sportclubs.jpg');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/sportclubs.jpg');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/sportclubs.jpg');
	background-size: cover;
}

.learning-centers-bg {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/learningcenters.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('img/learningcenters.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/learningcenters.jpg');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/learningcenters.jpg');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/learningcenters.jpg');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/learningcenters.jpg');
	background-size: cover;
}

.church-groups-bg {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/churchgroups.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('img/churchgroups.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/churchgroups.jpg');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/churchgroups.jpg');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/churchgroups.jpg');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/churchgroups.jpg');
	background-size: cover;
}
.community-events-bg {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityevents.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('img/communityevents.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityevents.jpg');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityevents.jpg');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityevents.jpg');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityevents.jpg');
	background-size: cover;
}
.community-hubs-bg {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityhubs.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('img/communityhubs.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityhubs.jpg');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityhubs.jpg');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityhubs.jpg');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityhubs.jpg');
	background-size: cover;
}
.enviro-groups-bg {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/envirogroups.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('img/envirogroups.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/envirogroups.jpg');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/envirogroups.jpg');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/envirogroups.jpg');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/envirogroups.jpg');
	background-size: cover;
}
#group-hover {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityhubs.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('img/communityhubs.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityhubs.jpg');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityhubs.jpg');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityhubs.jpg');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/communityhubs.jpg');
    background-size: cover;
}
.service-img {
    width: 250px;
}

.header-c2a {
    background-color: rgba(65,105,225, 0.9);
    margin: 10px;
    margin: 0 auto;
    padding: 10px;
    width: 275px;
    justify-self: center;
    align-self: center;
    color: #FCFCFC;

}
@media (min-width: 768px) {
    
}


@media (min-width: 500px) {
    .container-grid {
        grid-template-columns: auto minmax(300px, 960px) auto;
        -ms-grid-columns: 20% 60% 20%;
    }
    .grid {
        grid-template-columns: repeat(12, minmax(20px, 1fr));
        -ms-grid-columns: 20% 20% 20% 20% 20%;
        grid-gap: 10px;
        grid-column: 2;
        -ms-grid-column: 2;
    }
    .heading {
        grid-column: span 7;
        -ms-grid-column-span: 7;
    }
    .paragraph {
        grid-column: span 10;
        -ms-grid-column-span: 6;
    }

    .masthead {
        grid-column: 1 / span 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .header-content {
        /*grid-column: 1 / span 12;*/
        margin-top: 40px;
        -ms-grid-row-align: center;
    }
    .home {
        grid-row: 2;
        -ms-grid-row: 2;
        grid-column: 2 / span 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        justify-content: left;
    }
    .home-primary {
        grid-column: 1 / span 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .home-secondary {
        grid-column: 9 / span 4;
        -ms-grid-column: 4;
        -ms-grid-column-span: 2;
    }
    .special {
        grid-row: 3;
        -ms-grid-row: 3;
        height: 400px;
        grid-column: 1 / span 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        align-content: end;
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/marketbanner.jpg');
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('img/marketbanner.jpg');
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/marketbanner.jpg');
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/marketbanner.jpg');
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/marketbanner.jpg');
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.9) 100%), url('img/marketbanner.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -ms-grid-row-align: end;
    }  

    .special-content {
        text-align: center;
        grid-column: 1 / span 12;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        -ms-grid-row: 1;
        -ms-grid-row-align: end;  
        -ms-flex-align: end;              
    }

    .groups {
        grid-row: 4;
        -ms-grid-row: 4;
        grid-column: 2 / span 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }
    .heading {
        -ms-grid-row: 1;
    }
    .paragraph {
        -ms-grid-row: 2;
    }
    .about {
        grid-row: 5;
        -ms-grid-row: 5;
        grid-column: 2 / span 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }
    .about-bg-margin {
        grid-column: 1;
        -ms-grid-column: 1;
        background-color: #4169E1;
        grid-row: 5;
        -ms-grid-row: 5;
    }
    .about-bg {
        grid-column: 1 / span 8;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        background-color: #4169E1;
        grid-row: 1;
        -ms-grid-row: 1;
        height: auto;
    }
    .about-content {
        grid-column: 2 / span 4;
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        grid-row: 1;
        -ms-grid-row: 1;
    }
    .flex-container {
        grid-column: 1 / span 12;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        -ms-grid-row:3;
    }

    .footer-links {
        grid-column: 1 / span 3;
        -ms-grid-column: 1;
    }
    .footer-contact {
        grid-column: 8 / span 4;
        -ms-grid-column: 5;
    }
    
    .footer-contact-1 {
        grid-column: 4 / span 4;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
    }
    
    .copyright {
        grid-column: 1 / span 12;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        -ms-grid-row: 2;
        text-align: center;
        font-size: .8em;
    }
}

@media (min-width: 960px) {
    .container-grid {
        grid-template-columns: auto 960px auto;
        -ms-grid-columns: 20% 60% 20%;
    }
}


 @media (min-width: 500px) and (max-width: 850px ) {
    .about-bg {
        grid-column: 1 / span 11;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }
    .footer-contact {
        grid-column: 1 / span 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;        
    }
    
    .footer-contact-1 {
        grid-column: 1 / span 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        -ms-grid-row: 1;
    }
 }


