#content {
    display: grid;
    grid-template-columns: 20em 1fr 20em;
}

.grid {
    grid-column: 2 / span 1;
}

.flex-container {
	padding: 2em 1em 1em;
    background: #3E454C;
    display: flex;
    justify-content: flex-start center;
    flex-flow: row wrap;
}



.group {
    flex: auto;
    max-width: 300px;
    margin: 20px;
}